body {
  color: #fff;
  margin: 0;
  background-color: black
  
}

header {
  background-color: rgba(97, 95, 95, 0.418);
  padding: 20px;
  border-color: #fdd3177a;
}
.links{
  text-align: center;
  
}
li {
  display: inline;  
}
a {
  color: #fff;
  text-decoration: none;

}
a:hover{
  color: orange;
}
footer {
  background: #0a0a0a;
  color: #fff;
  padding: 30px;
  border-top: 1px solid rgba(238, 192, 24, 0.2);
  text-align: center;
}