body {
  color: #fff;
  margin: 0;
  background-color: #0a0a0a;
  
}

header {
  background-color: rgba(97, 95, 95, 0.418);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  
}
.pesquisa {
  flex: 1;
  display: flex;
  justify-content: right;
}
.links{
 
}
li {
  display: inline;  
}
a {
  color: #fff;
  text-decoration: none;

}
a:hover{
  color: orange;
}
footer {
  background: #080808;
  color: #fff;
  padding: 30px;
  border-top: 3px solid rgba(238, 192, 24, 0.2);
  text-align: center;
}