*{
  padding: 0;
  margin: 0;
  background-color: black
  
}

header {
  background-color: rgba(97, 95, 95, 0.418);
  padding: 20px;
  border-color: #fdd3177a;
}
.links{
  text-align: center;
  
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;

}
nav a{
  
  padding: 20px;
  text-decoration: none;
  color: #fff;
  align-items: center;
 

}

nav a:hover {
  background-color: rgb(17, 17, 17);
  color: orange;
  border-radius: 20px;
}

.home:first-child{
  margin-right: auto;
  background: none;
}
/* Imagens de Desconto */
.marketing {
  display: flex;
  justify-content: space-around;
  /*Atenção (padding ou margin)*/
  padding: 50px;
  

}

footer {

  background: #0a0a0a;
  color: #fff;
  padding: 30px;
  border-top: 3px solid rgba(238, 192, 24, 0.2);
  text-align: center;
}